* {
  padding:0;
  margin:0;
}

/* Header */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border-bottom:1px solid black;
  width:100%;
  position:fixed;
  z-index:1;
  background-color:white;
}

header a {
  color:black;
}

.headcont1 {
  display:inline;
  display:flex;
  color:MediumAquamarine;
  padding:10px 0 10px 30px;
  width:156px;
  align-items:center;
  justify-content:space-between;
}

.headcont2 {
  padding:10px 50px 10px 0;
  display:flex;
}

.headcont2 nav ul li {
  display:inline-block;
}

.headitem {
  margin-right:20px;
}

/* Main */

main {
  display:flex;
  position:relative;
  top:81px;
  justify-content:center;
  padding:20px 50px;
}

.text {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.pictext {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.column {
  display:inline-flex;
  flex-direction:column;
  border:1px solid red;
  height:500px;
  margin:20px;
}

.box {

}

/* Left Column */

.col-large {
  width: 630px;
  display:inline-flex;
}

.L1 {
display:flex;
flex-direction:column;
}

.L1pic {
  background-image:url("../Pics/img-story-main.png");
  width:629px;
  height:300px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.L1pic .pictext {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  padding:20px;
}

/* Center Column */

.col-med {
  width: 300px;
  display:inline-flex;
}

/* Right Column */

.col-small {
  width: 240px;
  display:inline-flex;
}
